<div class="container">
  <!-- <div class="row">
    <div class="col-3">
      <div id="sidebar-container">
        <div class="draggable" draggable="true">First Name</div>
        <div class="draggable" draggable="true">Last Name</div>
        <div class="draggable" draggable="true">Company Name</div>
        <div class="draggable" draggable="true">Country</div>
        <div class="draggable" draggable="true">QR Code</div>
      </div>
    </div>
    <div class="col-9">
      <div id="label-container"></div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-12">
      <button (click)="printLabel()">Print Label</button>
    </div>
  </div>
</div>
